<form action="/admin/conferences" method="post">
  <div class="form-inline form-group">
    <div class="form-group">
      <label>カンファレンス日時</label>
      <input type="text" name="date" class="form-control" required/>
    </div>
    <div class="form-group">
      <label >主催者 Or RoomNumber </label>
      <input type="text" name="name" class="form-control" style="ime-inactive;" required/>
    </div>
    <button type="submit" class="btn btn-primary">登録</button>
  </div>
</form>

<% conferences.forEach(function(conference) { %>
<li><a href="/admin/conferences/<%= conference.id %>"><%= conference.key %></a> <%= conference.name %> <%= conference.date %> <button class="del btn btn-danger" data-id="<%= conference.id %>">&times;</button></li>
<% }) %>

<script>
$('.del').click(function() {
  if (window.confirm('Are you sure to delete?')) {
    $.ajax({
      url: '/admin/conferences/'+$(this).attr('data-id'),
      type: 'DELETE'
    }).done(function() {
      location.href = '/admin/conferences';
    });
  }
});
</script>

