<div>key: <%= conference.key %></div>

<div>name: <%= conference.name %></div>

<div>date: <%= conference.date %></div>

<div>
  <span class="status">
    status: <%= conference.status %>
  </span>

  <button class="start">start</button>
  <button class="stop">stop</button>
</div>

<div>
attendances: <%= conference.attendances.length %>
</div>

<div>
likes: <%= conference.likes.length %>
</div>

<script>
  $('.start').click(function() {
    $.ajax({
      url: location.href+'/start'
    }).done(function(conference) {
      $('.status').text(conference.status);
    });
  });

  $('.stop').click(function() {
    $.ajax({
      url: location.href+'/stop'
    }).done(function(conference) {
      $('.status').text(conference.status);
    });
  });

  io.socket.get('/like/11', {}, function(res) {
    console.log(res);
  });
</script>
