<div>key: <%= conference.key %></div>

<div>name: <%= conference.name %></div>

<div>date: <%= conference.date %></div>

<div>
  <span class="status">
    status: <span><%= conference.status %></span>
  </span>

  <button class="start btn btn-success">start</button>
  <button class="stop btn btn-danger">stop</button>
  <button class="reset btn btn-info">reset</button>
</div>

<div class="timer">0</div>

<div>
<a href="/conferences/<%= conference.key %>" target="_blank">Client page</a>
</div>

<div>
  <canvas id="pieChart" width="200" height="200"></canvas>
</div>
<div>
  <canvas id="timeChart" width="600" height="300"></canvas>
</div>
<div>
  <canvas id="officeChart" width="600" height="300"></canvas>
</div>
