<div>key: <%= conference.key %></div>

<div>name: <%= conference.name %></div>

<div>date: <%= conference.date %></div>

<div>
  <span class="status">
    status: <span><%= conference.status %></span>
  </span>

  <button class="start btn btn-success">start</button>
  <button class="stop btn btn-danger">stop</button>
</div>

<div>
attendances: <%= conference.attendances.length %>
</div>

<div>
likes: <%= conference.likes.length %>
</div>

<div>
<a href="/conferences/<%= conference.key %>" target="_blank">Client page</a>
</div>
